@page "/accessroles"

@inherits AccessRolesBase

<h3>Access & Roles</h3>

@if (@roles == null)
{
    <span>Loading</span>
}
else
{
    <RadzenTree Expand="@LogExpand" Change="@LogChange" Style="width: 100%">
        <RadzenTreeItem Text="Areas">
            <RadzenTreeItem Text="Projects">
                <NavLink class="nav-link" href="">
                    <div class="table-responsive">
                        <table class="table-striped">
                            <thead>
                                <tr>
                                    <th style="padding-right: 10px; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px">Feature</th>
                                    <th style="padding-right: 10px; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px">Can View</th>
                                    <th style="padding-right: 10px; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px">Can Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Models.DTO.Config.AccessRoles a in roles)
                                {
                                    <tr>
                                        <td style="vertical-align: middle; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px">@a.Name</td>
                                        <td style="vertical-align: middle; text-align: center; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px">
                                            <MatSlideToggle TValue="bool" ValueChanged="(() => Toggle(a.CanView))"></MatSlideToggle>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px">
                                            <MatSlideToggle TValue="bool" ValueChanged="(() => Toggle(a.CanEdit))"></MatSlideToggle>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </NavLink>
            </RadzenTreeItem>
        </RadzenTreeItem>
    </RadzenTree>

}
