@inherits LayoutComponentBase

        <style>
            section {
                background-color: AppWorkspace;
                border-width: 5px;
                border-color: white;
                color: white;
                display: flex;
                /*flex-direction: row;*/
                height: 800px;
            }

            /*row {
                width: 100%;
            }*/

            .left, .right {
                width: 250px;
                text-align: center;
            }

            .middle {
                width: 90%;
                text-align: left;
                padding: 10px;
            }

            footer {
                background-color: gray;
                color: white;
            }
        </style>
        
        <HeaderBar></HeaderBar>
        <section style="overflow: auto;">
            @*<div class="row">*@
                <div class="column left" id="NavBar">
                    <NavSideMenu></NavSideMenu>
                </div>
                <div class="column middle" id="BodyCenter">
                    @Body
                </div>
                <div class="column right" id="InfoBar">
                    
                </div>
            @*</div>*@
        </section>
        @*<footer>Copywrite @DateTime.Now.Year.ToString()</footer>*@

@*</div>
    <div class="sidebar">
    <NavMenu />
    </div>

    <div class="main">
    <div class="top-row px-4">
        <i style="cursor: pointer" class="fas fa-cog fa-2x" @onclick="OpenAccessSettingsPage"></i>
    </div>
    <div class="content px-4">
        @Body
    </div>
    </div>

    <div class="sidebar">
    <Sbar></Sbar>
    </div>*@


