@inherits NavMenuBase

<div>
    <img style="max-width: 100%; max-height: 100%;" src="https://raw.githubusercontent.com/LightosTomJ/CostOSInTheCloud/master/v01/UI/Resources/CostOS_Black.png?token=AMSN573M45Q2HMG7SM3RMFC6PERKU"/>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <RadzenTree Expand="@LogExpand" Change="@LogChange" Style="width: 100%; color: white">
                <NavLink class="nav-link" href="projects">
                    <div class="column" style="width: 5px;"></div>
                    <div class="column" style="width: 40px;">
                        <i class="fas fa-industry"></i>
                        <img class="imgInvert" width="16" height="16" src="https://image.flaticon.com/icons/png/128/1633/1633150.png" data-src="https://image.flaticon.com/icons/png/128/1633/1633150.png" srcset="https://image.flaticon.com/icons/svg/1633/1633150.svg 4x" />
                    </div>
                    <div class="column" style="width: 5px;"></div>
                    <div class="column">Projects</div>
                </NavLink>
                <NavLink class="nav-link" href="assemblies">
                    <div class="column" style="width: 5px;"></div>
                    <div class="column" style="width: 40px;">
                        <i class="fas fa-brain"></i> <i class="fas fa-stream"></i>
                    </div>
                    <div class="column" style="width: 5px;"></div>
                    <div class="column">Assemblies</div>
                </NavLink>
                <NavLink class="nav-link" href="lineitems">
                    <div class="column" style="width: 5px;"></div>
                    <div class="column" style="width: 40px;">
                        <i class="fas fa-database"></i> <i class="fas fa-stream"></i>
                    </div>
                    <div class="column" style="width: 5px;"></div>
                    <div class="column">Line Item</div>
                </NavLink>
                <NavLink class="nav-link" href="labour">
                    <div class="column" style="width: 5px;"></div>
                    <div class="column" style="width: 40px;">
                        <img class="imgInvert" width="16" height="16" src="https://image.flaticon.com/icons/png/128/782/782899.png" data-src="https://image.flaticon.com/icons/png/128/782/782899.png" srcset="https://image.flaticon.com/icons/svg/782/782899.svg 4x">
                    </div>
                    <div class="column" style="width: 5px;"></div>
                    <div class="column">Labour</div>
                </NavLink>
                <NavLink class="nav-link" href="plant">
                    <div class="column" style="width: 5px;"></div>
                    <div class="column" style="width: 40px;">
                        <img class="imgInvert" width="16" height="16" src="https://image.flaticon.com/icons/png/128/596/596541.png" data-src="https://image.flaticon.com/icons/png/128/596/596541.png" srcset="https://image.flaticon.com/icons/svg/596/596541.svg 4x">
                        <img class="imgInvert" width="16" height="16" src="https://image.flaticon.com/icons/png/128/1659/1659287.png" data-src="https://image.flaticon.com/icons/png/128/1659/1659287.png" srcset="https://image.flaticon.com/icons/svg/1659/1659287.svg 4x">
                    </div>
                    <div class="column" style="width: 5px;"></div>
                    <div class="column">Plant</div>
                </NavLink>
                <NavLink class="nav-link" href="materials">
                    <div class="column" style="width: 5px;"></div>
                    <div class="column" style="width: 40px;">
                        <img class="imgInvert" width="16" height="16" src="https://image.flaticon.com/icons/png/128/1657/1657876.png" data-src="https://image.flaticon.com/icons/png/128/1657/1657876.png" srcset="https://image.flaticon.com/icons/svg/1657/1657876.svg 4x">
                        <img class="imgInvert" width="16" height="16" src="https://image.flaticon.com/icons/png/128/605/605813.png" data-src="https://image.flaticon.com/icons/png/128/605/605813.png" srcset="https://image.flaticon.com/icons/svg/605/605813.svg 4x">
                    </div>
                    <div class="column" style="width: 5px;"></div>
                    <div class="column">Materials</div>
                </NavLink>
                <NavLink class="nav-link" href="consumables">
                    <div class="column" style="width: 5px;"></div>
                    <div class="column" style="width: 40px;">
                        <i class="fas fa-tools"></i>
                    </div>
                    <div class="column" style="width: 5px;"></div>
                    <div class="column">Consumables</div>
                </NavLink>
                <NavLink class="nav-link" href="subcontractor">
                    <div class="column" style="width: 5px;"></div>
                    <div class="column" style="width: 40px;">
                        <img class="imgInvert" width="16" height="16" src="https://image.flaticon.com/icons/png/128/2630/2630800.png" data-src="https://image.flaticon.com/icons/png/128/2630/2630800.png" srcset="https://www.flaticon.com/premium-icon/icons/svg/2630/2630800.svg 4x">
                    </div>
                    <div class="column" style="width: 5px;"></div>
                    <div class="column">Sub-contractor</div>
                </NavLink>
                <RadzenTreeItem Text="Escalation">
                    <NavLink class="nav-link" href="countries">
                        <div class="column" style="width: 5px;"></div>
                        <div class="column" style="width: 40px;">
                            <i class="fas fa-globe-europe"></i>
                        </div>
                        <div class="column" style="width: 5px;"></div>
                        <div class="column">Countries</div>
                    </NavLink>
                    <NavLink class="nav-link" href="currencies">
                        <div class="column" style="width: 5px;"></div>
                        <div class="column" style="width: 40px;">
                            <i class="fas fa-euro-sign"></i> <i class="fas fa-yen-sign"></i> <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="column" style="width: 5px;"></div>
                        <div class="column">Currencies</div>
                    </NavLink>
                    <NavLink class="nav-link" href="exchangerates">
                        <div class="column" style="width: 5px;"></div>
                        <div class="column" style="width: 40px;">
                            <i class="fas fa-dollar-sign"></i> <i class="fas fa-chart-line"></i>
                        </div>
                        <div class="column" style="width: 5px;"></div>
                        <div class="column">Exchange Rate</div>
                    </NavLink>
                    <RadzenTreeItem Text="Other Rates">
                        <NavLink class="nav-link" href="gdp">
                            <div class="column" style="width: 5px;"></div>
                            <div class="column" style="width: 40px;">
                                <i class="fas fa-chart-line"></i>
                            </div>
                            <div class="column" style="width: 5px;"></div>
                            <div class="column">GDP</div>
                        </NavLink>
                        <NavLink class="nav-link" href="interest">
                            <div class="column" style="width: 5px;"></div>
                            <div class="column" style="width: 40px;">
                                <i class="fas fa-chart-line"></i>
                            </div>
                            <div class="column" style="width: 5px;"></div>
                            <div class="column">Interest</div>
                        </NavLink>
                        <NavLink class="nav-link" href="government">
                            <div class="column" style="width: 5px;"></div>
                            <div class="column" style="width: 40px;">
                                <i class="fas fa-chart-line"></i>
                            </div>
                            <div class="column" style="width: 5px;"></div>
                            <div class="column">Government</div>
                        </NavLink>
                    </RadzenTreeItem>
                </RadzenTreeItem>
            </RadzenTree>
        </li>
    </ul>
 </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }
