@page "/variables"

@using System.IO
@using Microsoft.EntityFrameworkCore
@using Models.DB
@using Radzen;
@using Radzen.Blazor;

@inherits VariablesBase

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnvironment

<h3>Variables</h3>


<div class="col-md-6" style="margin-bottom: 16px">
    <RadzenTree Expand="@LogExpand" Change="@LogChange" Style="width: 100%; height: 300px">
        <RadzenTreeItem Text="BMW">
            <RadzenTreeItem Text="M3" />
            <RadzenTreeItem Text="M5" />
        </RadzenTreeItem>
        <RadzenTreeItem Text="Audi">
            <RadzenTreeItem Text="RS4" />
            <RadzenTreeItem Text="RS6" />
        </RadzenTreeItem>
        <RadzenTreeItem Text="Mercedes">
            <RadzenTreeItem Text="C63 AMG" />
            <RadzenTreeItem Text="S63 AMG" />
        </RadzenTreeItem>
    </RadzenTree>
</div>


@code {


}
