@page "/country"
@inherits CountryBase

@using Models.DB.Local

<h3>Country</h3>

@if (country == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{

}
