@page "/currency"
@inherits CurrencyBase

@using Models.DB.Local

<h3>Currency</h3>

@if (currency == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{

}
