@page "/projecteps"
@inherits ProjectEPSBase

@using Models.DB.Local
@using Models.DB.Project


<style>
    section {
        background-color: darkgray;
    }
</style>

<h3>Enterprise Project Structure</h3>

@if (projectEPS == null)
{
    <span>Loading</span>
}
else
{
    <div class="col-md-6" style="margin-bottom: 16px">
        <RadzenTree Change="@LogChange" Data="@entries" Expand="@OnExpand" Style="width: 100%; height: 300px">
            <RadzenTreeLevel TextProperty="Value" Template="@NavigateNode" />
        </RadzenTree>
    </div>


}