@page "/assemblies"
@inherits AssemblyBase

@using Models.DB.Project

<style>
    section {
        background-color: darkgray;
    }
</style>

<h3>Assemblies</h3>

@if (assemblies == null)
{
    <span>Loading</span>
}
else
{

}
