@page "/assemblies"
@inherits AssemblyBase

@using Models.DB.Project

<style>
    section {
        background-color: darkgray;
    }
</style>

<h3>Assemblies</h3>

@if (assemblies == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{

}
