@page "/assemblysubcontractors"
@inherits AssemblySubcontractorBase

@using Models.DB.Project

<h3>AssemblySubcontractors</h3>

@if (assemblysubcontractors == null)
{
    <span>Loading</span>
}
else
{

}
