@page "/boqitemassemblies"
@inherits BoqitemAssemblyBase

@using Models.DB.Project

<h3>BoqItemAssemblies</h3>

@if (boqitemassemblies == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{

}
