@page "/boqitemsubcontractors"
@inherits BoqitemSubcontractorBase

@using Models.DB.Project

<h3>BoqItemSubcontractors</h3>

@if (boqitemsubcontractors == null)
{
    <span>Loading</span>
}
else
{

}
