@page "/aspnetuserclaims"
@inherits AspNetUserClaimsBase

@using Models.DB.Config

<h3>AspNetUserClaims</h3>

@if (aspnetuserclaims == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{

}
