@page "/aspnetuserroles"
@inherits AspNetUserRolesBase

@using Models.DB.Config

<h3>AspNetUserRoles</h3>

@if (aspnetuserroles == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{

}
