@page "/aspnetuserlogins"
@inherits AspNetUserLoginsBase

@using Models.DB.Config

<h3>AspNetUserLogins</h3>

@if (aspnetuserlogins == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{

}
