@page "/companies"
@inherits CompaniesBase

@using Models.DB.Config

<h3>Companies</h3>

@if (companies == null)
{
    <img src="/Image/Spinner 01.gif" style="display: block; margin: auto; padding: 90px; width: 20%;" />
}
else
{

}
